<img src='regression.JPG'/>

<img src='ols.JPG'/>

<img src='multiple_lr.JPG'/>

<img src='log_reg.JPG'/>

<img src='log_reg2.JPG'/>

 <img src='log_reg3.JPG'/>

* Like in **Linear Regression** for any value of X we can find the corresponding value of y(Predicted Value) but in the form of probability.

<img src='log_reg4.JPG'/>

* For any value of X if the corresponding Y value(Predicted value) probability is less than 0.5 then its value becomes 0
* For any value of X if the corresponding Y value(Predicted value) probability is more than 0.5 then its value becomes 1

## Logistic Regression

In [1]:
# importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# importing dataset
reg_data=pd.read_csv('Social_Network_Ads.csv')
reg_data.head()

    User ID  Gender   Age  EstimatedSalary  Purchased
0  15624510    Male  19.0          19000.0          0
1  15810944    Male  35.0          20000.0          0
2  15668575  Female  26.0          43000.0          0
3  15603246  Female  27.0          57000.0          0
4  15804002    Male  19.0          76000.0          0

In [7]:
X=reg_data.iloc[:,[2,3]].values
# X
y=reg_data.iloc[:,4].values
# y

In [8]:
# Splitting Dataset
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=0)

In [ ]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc_X=StandardScaler()
X_train=sc_X.fit_transform(X_train)
X_test=sc_X.fi